<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="orderid">
	<f:translate key="tx_pingreceive_domain_model_orders.orderid" />
</label><br />
	<f:form.textfield property="orderid" /><br />
<label for="address">
	<f:translate key="tx_pingreceive_domain_model_orders.address" />
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="custname">
	<f:translate key="tx_pingreceive_domain_model_orders.custname" />
</label><br />
	<f:form.textarea property="custname" cols="40" rows="15" /><br />
<label for="custphone">
	<f:translate key="tx_pingreceive_domain_model_orders.custphone" />
</label><br />
	<f:form.textfield property="custphone" /><br />
</html>