<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-pingreceive" >
	<tr>
		<td>
			<f:translate key="tx_pingreceive_domain_model_orders.orderid" />
		</td>
		<td>
		{orders.orderid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingreceive_domain_model_orders.address" />
		</td>
		<td>
		{orders.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingreceive_domain_model_orders.custname" />
		</td>
		<td>
		{orders.custname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pingreceive_domain_model_orders.custphone" />
		</td>
		<td>
		{orders.custphone}
		</td>
	</tr>
</table>
</html>